@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bem vindo a nossa loja virtual!</h1>
</div>

<div class="row">
    <div class="col-md-10">
        <h2>Fique a vontade para navegar entre os nossos produtos e promoções!</h2>
    </div>
</div>